 <div class="doscolumnas_row animate__animated animate__fadeIn">
   <div class="tarjeta__heroe">
     <div class="row">
       <div class="col text-center text-success">aquaman</div>
       <div class="col text-danger">Poderes</div>
     </div>
     <div class="row">
       <div class="col">
         <img src="assets/img/aquaman.png" alt="aquaman" />
       </div>
       <div class="col col__poderes">
         <ul>
           <p>aqui van los poderes</p>
         </ul>
       </div>
     </div>
     <div class="row">
       <div class="col">
         <button class="text-uppercase text-decoration-none text-dark p-2 bg-aqua">
           Ver Más
         </button>
       </div>
       <div class="col">
       </div>
     </div>
   </div>
 </div>
